.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f3f2ef;
}
.app_body {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
